.sidebar{
  background-color: rgba(var(--bs-dark-rgb));
  width: 250px;
  height: calc(100vh - 72px) ;
  text-align: center;
}

.sidebar a {
  color: white;
  font-size: 1.2rem;
}


/* .sidebar a.active {
  text-decoration: underline;
} */


.page {
  display: grid;
  grid-template-columns: 260px auto;
}
